.menubar {
    display: flex;
justify-content: space-between;
align-items: center;
height: 50px;
padding: 10px 20px;
box-shadow: 0 2px 4px rgba(0, 0, 0, .1); 
}
.menubar img {
    height: 17px;
}
.menubara a {
    text-decoration: none;
    color: #777;
}