@media all and (max-width: 1340px) {
  .sidebar {
    display: none;
  }
}
@media all and (max-width: 1020px) {
  article img {
    width: 100%;
  }
}
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  article > * {
    width: calc(100% - 40px);
  }
}
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .sidebar {
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    min-width: 320px;
  }
  article > * {
    width: calc(100%-40px);
  }
}
